.hero.is-fullheight
  .hero-body.container
    .content.has-text-centered.pb-6
      %img(src="#{image_path 'camp-fire.svg'}")
      %h1.title.is-2 The Deep Thinkers' Hideout
      %p.subtitle A digital hideout for the deliberate. Thinkers, writers, and builders.
      %a.button.is-dark Enter the Hideout